{% extends 'base.html' %}

{% block title %}Nova Categoria{% endblock %}

{% block content %}
<div class="container page-card small">
  <h1 class="page-title">Nova Categoria</h1>
  <form method="post" class="form-grid">
    <label class="form-label">Nome</label>
    <input class="form-control" type="text" name="nome">

    <label class="form-label">Descrição</label>
    <input class="form-control" type="text" name="descricao">

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
  </form>
</div>
{% endblock %}